.pragmatic_footer_button {
    margin-top : 1.5 rem ; font-family: 'Hanalei', cursive;
}

.pragmatic_footer_menu {
     text-align: center
}

.pragmatic_header_topic {
    margin : 1.5rem 0 ;
    font-family: 'Hanalei', cursive;
}

.pragmatic_header_top {
     text-align: center
}

.mw_500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}