<div class = "pragmatic_header_top">
    <div class ="pragmatic_header_topic">
        <h1>Pragmatic</h1>
    </div>
    <div>
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}">
                Projects
            </a>
        </span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'first_app:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'first_app:create' %}">
                signup
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'first_app:logout' %}">
                Logout
            </a>
        </span>
        <span>
            <a href ="{% url 'first_app:detail' pk=user.pk %}">
                Mypage
           </a>
        </span>
        {% endif %}
    </div>

</div>